.forecast {
  padding: 0 48px;
  flex: 1;
}

.header {
  margin: 0;
  font-weight: 300;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.weathers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
