.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  font-weight: normal;
  margin: 1rem 0;
}

.icon {
  width: 70px;
}

.temperature {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}